@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

.btn-primery {
    padding: 20px 25px;
    background-color: rgb(176, 226, 59);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0px;
    color: black;

}

.ditel {
    color: #727272;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.titel {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(39, 33, 33);
}

/*header section*/
header {
    background-color: rgb(236, 186, 220);
    padding: 50px 250px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 1rem;
    font-weight: 500;
    font-size: 1rem;

}

/*Banner */
.banner-contain {
    max-width: 800px;
    text-align: center;
    margin: auto;

}

.banner-titel {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;

    color: rgb(49, 41, 41);
}

.banner-ditels {

    font-size: 1.5rem;
}

.banner img {
    margin-top: 20px;
    width: 100%;

}

/*Team section*/
.team-container {
    display: flex;
    align-items: center;
    margin: 4.5rem auto;
    margin-left: 310px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-text-container {
    padding-left: 70px;
    padding-right: 70px;
}

.team-titel {
    font-size: 3rem;
}

.team-titel .quick {
    color: #727272;
    font-weight: 500;
}

.team-titel .titel-feature {
    color: rgb(176, 226, 59);

}

/*Team section end*/

/*Feature Section*/
.features {
    display: flex;
    margin-top: 130px;
    margin-left: 240px;
    margin-right: 200px;
    gap: 100px;
}

.feature-titel {
    font-size: 3rem;
    border-left: 5px solid #bcf561;
    padding-left: 10px;
}
.feature-img img{
    margin-left: 90px;
    height: 90%;
}

.feature-box {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px #c2c2c2;
    margin-top: 10px;
}

.ten-year-badge {
    border-radius: 8px;
    background: #FF900E;
    padding: 15px 15px;
    color: #fff;
    width: 350px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-year-badge h2{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ten-year-badge p{
    font-size: 1.50rem;
    font-weight: 500;
    
}
/*Feature section end*/


/*Facts section*/
.facts-container {
    margin-left: 200px;

}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: .8rem;
    padding: 2rem;


}

.facts-card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 2rem;


}

.card-sate {
    font-size: 3rem;
    width: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-ditel {
    font-size: 1.25rem;
    width: 600;
    color: #727272;
    margin-top: 5px;
}

/*fact section end*/
/*Sponcer section*/
.sponsor-titel {
    text-align: center;
}

.sponser-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
}

.sponser-img img {
    width: 165px;
}


/*Responsive*/
/*mobile*/
@media screen and (max-width:576px) {
    header {
        padding: 10px;
    }

    nav,
    .facts-card-container,
    .sponser-img, .features {
        flex-direction: column;
    }
    .features{
        padding: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .team-container,
    .facts-card-container {
        flex-direction: column;
        flex-direction: column-reverse;
        padding-left: 10px;
        margin-left: 2px;

    }

    .facts-container {
        margin-left: 2px;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }

    .facts-card-container {
        gap: 5px;
    }
}

/*Tablet or medium devices*/
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .team-container,  .features {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column;
        flex-direction: column-reverse;
        margin-left: 0px;

    }
    .features{
        padding: 10px ;
        margin-left: 15px;
        margin-right: 10px;
    }

    .team-img-container,
    .sponser-img {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;

    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

}